// Component-specific styles

.attribution {
  opacity: 0.7;
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
  transition: opacity 1s ease, font-size 1s ease;

  a {
    color: $green;
    text-decoration: none;
  }

  &:hover{
    opacity: 1;
    font-size: 13px;
  }
}

main {
  @include center-flex;
  @include flex-column;
  text-align: center;
  background: $dark-grey;
  padding: 25px 30px;
  border-radius: 16px;
}